<!-- Footer -->
<footer class="footer bg-light">
    <div class="container">
        <div class="col-lg-0 h-100 text-center text-lg-center my-auto">
            <p class="text-muted small mb-4 mb-lg-0">&copy; Mazon OS 2019. {{copyright}}. {{contact}}: irc.freenode.net #mazonos | root@mazonos.com</p>
        </div>
        <!-- locale -->
        <div class="row">
            <div class="col-auto ml-auto small">
                <a href="{{url.root}}pt-BR/{{page}}.html">Português (Brasil)</a>
                <span class="px-1">|</span>
                <a href="{{url.root}}en/{{page}}.html">English</a>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{{url.root}}vendor/jquery/jquery.min.js"></script>
<script src="{{url.root}}vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

{{!-- <!-- App JavaScript --> --}}
{{!-- <script src="{{url.root}}js/app.js?id=5773a9ef4813d904b6306c824d18d967"></script> --}}
