<!-- Navigation -->
<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="http://mazonos.com/">MAZON OS</a>
        <form class="form-inline">
            <a class="btn btn-sm" href="{{url.lang}}wiki.html">{{wiki}}</a>
            <a class="btn btn-sm" href="{{url.lang}}contrib.html">{{contrib}}</a>
            <a class="btn btn-sm" href="{{url.root}}forum/">{{forum}}</a>
            <a class="btn btn-sm" href="{{url.root}}releases/">{{download}}</a>
            <a class="btn btn-sm" href="{{url.root}}packages/">{{packages}}</a>
            <a class="btn btn-success" href="{{url.root}}changelog.txt">{{changelog}}</a>
        </form>
    </div>
</nav>
